@charset "UTF-8";

* {
	font-size: 14px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* 메인 */
::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+*/
	color: #bbb;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #bbb;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #bbb;
}

.header {
	height: 10%;
}

.header>div>a>img {
	width: 150px;
}

#headerfrm {
	border: 1px solid #010101;
	width: 460px;
}

#headerfrm>i:hover {
	cursor: pointer;
}

#headerfrm>i {
	width: 12%;
	text-align: center;
}

#headerinput {
	width: 88%;
}

#headerinput>#search {
	border-top-left-radius: 1.7rem;
	border-bottom-left-radius: 1.7rem;
	border: none;
	border-right: 1px solid #eee;
}

#headerinput>input {
	text-align: center;
}

#headerinput>#checkin, #checkout {
	background-color: white;
	border: none;
	border-right: 1px solid #eee;
}

.header>.position-absolute {
	top: 11px;
	right: 10px;
}

.header .bi-person-circle, .header .bi-search {
	font-size: 3rem;
	color: rgb(73, 73, 73)
}

.loginyet {
	border: 1px solid #010101;
}

.main_nav>.nav {
	background: #549ecf;
}

.main_nav>.nav>.nav-link {
	transition: 0.3s ease;
	background: #549ecf;
	font-size: 17px;
	text-decoration: none;
	border-bottom: 4px solid #549ecf;
	padding: 0.8rem 0;
	margin: 0 2rem;
}

.main_nav>.nav>.nav-link:hover {
	transition: 0.3s ease;
	border-bottom: 4px solid #ffffff;
}

.bi-star-fill {
	color: yellow;
}

/* 마이페이지 */
.mypage {
	height: 100vh;
	overflow: hidden;
}

.mypage>div {
	height: 100%;
}

.mypage .col-md-3 {
	background-color: #549ecf;
}

.mypage>div>.position-absolute {
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	height: 117%;
	width: 50%;
}

.position-absolute>.btn-close {
	top: 20px;
	right: 20px;
}

.mypage .nav {
	height: 100%;
	padding: 20px;
}

.mypage .nav-link {
	font-size: 17px;
	border-bottom: 4px solid #549ecf00;
}

.mypage .selected {
	border-bottom: 4px solid #fff;
}

.mypage .nav-link>.nav-link {
	font-size: 15px;
}

/* 로그인페이지 */
.header2 {
	background-color: #428fc7;
}

.header2>div>a>img {
	width: 150px;
}

.findIdOk {
	height: 90%;
}

.findIdOk>div {
	margin-top: 30vh;
}

.findIdPw button {
	box-shadow: 3px 3px 1px #ccc;
}

.changePw {
	margin-top: 25vh;
}

/* 맛집,즐길거리 페이지 */
.food .h-120 {
	height: 120px;
}

.food img {
	height: 100%;
}


/* 푸터 */
footer>div>p, footer>div>ul {
	font-size: 13px;
	margin: 0;
}

footer>div>ul>li>a {
	font-size: 13px;
	border-right: 1px solid #aaa;
}

footer>div>ul>li:last-child>a {
	border: none;
}